.cursor {
    pointer-events: none;
    position: fixed;
    display: block;
    border-radius: 0;
    transform-origin: center center;
    z-index: 9999;
    mix-blend-mode: difference;
}

.cursor .circle {
    height: 26px;
    width: 26px;
    background-color: var(--light);
    position: absolute;
    border-radius: 50%;
}

.cursor .anim_cursor {
    background: none;
    transform: scale(1.3);
}